@import '../../../assets/scss/theme';

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tool-bar {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    .mobile-menu-button-container {
        button {
            svg {
                color: $primary-color;
                font-size: 30px;
            }
        }
    }
}
.mobile-menu-drawer {
    .MuiPaper-root {
        background-color: $primary-color;
        color: $text-color-on-primary;
    }
    .drawer-header {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 50px !important;
        color: $text-color-on-primary;
        .close-drawing-icon {
            color: $text-color-on-primary;
            font-size: 30px;
        }
    }
}

.mobile-nav-bar-item {
    display: flex;
    width: 100%;
    button {
        svg {
            width: 30px;
            align-self: flex-end;
            color: $text-color-on-primary;
        }
    }
    .mobile-nav-bar-button {
        display: flex;
        gap: 50px;
        width: 80%;
        padding: 5px;
        .mobile-nav-bar-button-text {
            text-align: left;
            width: 180px;
        }
        svg {
            width: 30px;
            align-self: flex-end;
        }
    }
}

.nav-item-details {
    padding: 10px;
}
