@import '../../../assets/scss/theme';

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tool-bar {
    display: flex;
    gap: 15%;
    padding: 5px;

    .mobile-menu-button-container {
        button {
            svg {
                color: $primary-color;
                font-size: 30px;
            }
        }
    }
}

.mobile-menu-drawer {
    .MuiPaper-root {
        // background-color: $primary-color;
        // color: $text-color-on-primary;
    }

    .drawer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 70px !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

        // color: $text-color-on-primary;
        .close-drawing-icon {
            font-size: 33px;
        }
    }
}

.mobile-nav-bar-item {
    display: flex;
    width: 100%;

    button {
        svg {
            width: 30px;
            align-self: flex-end;
            // color: $text-color-on-primary;
        }
    }

    .mobile-nav-bar-button {
        display: flex;
        gap: 50px;
        width: 80%;
        padding: 5px;

        .mobile-nav-bar-button-text {
            text-align: left;
            width: 180px;
        }

        svg {
            width: 30px;
            align-self: flex-end;
        }
    }
}

.mobile-lang-picker {
    width: 100%;

    button {
        font-size: 16px;
        width: 39%;
        display: flex;
        color: #333;
        justify-content: space-between;

        svg {
            align-self: flex-end;
            color: #333;
            width: 24px;
        }
    }
}

.nav-item-details {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.nav-item-details.active {
    opacity: 1;
    max-height: 100%;
}

/* DropDown.css */
.dropdown-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    max-width: 120px;
    padding: 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #ddd;
}

/* Show the menu when hovering over the dropdown button */
.dropdown-button:hover .dropdown-menu {
    display: block;
}

.lang-picker {
    font-family: 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', 'Android Emoji';

    button {
        font-size: 16px;

        svg {
            width: 24px;
        }
    }
}