.welcome-container {
    position: relative;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: clamp(1.3rem, 2.3vw, 2rem);
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        line-height: 2;
        text-align: justify;
    }

    .welcome-image {
        object-fit: cover;
        border-radius: 5px;
    }
}

@media (max-width: 490px) {

    .welcome-container {

        p,
        h3 {
            text-align: center;
        }
    }
}