h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    color: #555;
}

// button {
//     background-color: #B14C59;
//     color: #fff;
//     border: none;
//     padding: 10px 20px;
//     font-size: 1rem;
//     cursor: pointer;
// }