$max-width: 100vw;
$padding: 1rem;

$primary-color: rgb(188, 141, 74);
$secondary-color: #6c757d; // Cool secondary color (gray)
$background-color: #f7f7f7; // Light background color (off-white)
$error-color: #ff5733; // Red for errors
$success-color: #3cbc8d; // Green for success
$info-color: #4da1ff; // Blue for information
$warning-color: #ffc107; // Yellow for warnings

$text-color-on-primary: #ffffff; // White text color on primary color

$devider-color-on-primary: #90bcd1;