*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}


img {
  object-fit: contain;
}


.no-bullets {
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(155, 124, 124);
  border-radius: 10px;
  background: #f6e1e1;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ae4559;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff385c;
}