*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 100%;
    user-select: none;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
}

img {
    object-fit: contain;
}

.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(155, 124, 124);
    border-radius: 10px;
    background: #f6e1e1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    // background: #ae4559;
    background: rgb(188, 141, 74);
    ;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(188, 141, 74, 1.3);
    ;
}

.text-center {
    width: 100%;
    text-align: center;
}


.css-3dvkce-MuiDivider-root::after,
.css-3dvkce-MuiDivider-root::before {
    border-top: 3px solid rgb(188, 141, 74) !important;
}

.secondary-button {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(241, 186, 108) !important;
}