*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    user-select: none;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}

.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(155, 124, 124);
    border-radius: 10px;
    background: #f6e1e1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    // background: #ae4559;
    background: rgb(188, 141, 74);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(188, 141, 74, 1.3);
}

.text-center {
    width: 100%;
    text-align: center;
}

.title-text-divider {
    &::after,
    &::before {
        border-top: 3px solid rgb(188, 141, 74) !important;
        width: 20% !important;
    }
}

.secondary-button {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(241, 186, 108) !important;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;

    @media (max-width: 768px) {
        max-width: 100%;
        /* Full width on smaller screens */
        padding: 10px;
    }

    .groupped-fields {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .form-field {
        margin: 10px 0;
        flex: 1;

        .MuiTextField-root {
            width: 100%;
        }
    }
}
