.float-container {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.social-media-icons-container {
    display: flex;
    width: fit-content;
    gap: 25px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: var(--light-shadow);
    z-index: 3;
}

.column {
    flex-direction: column;
    padding: 10px 5px;
}

.icon {
    padding: 4px;
    border-radius: 50%;
}

.whatsapp-icon:hover {
    color: #fff;
    background-color: #26b14b;
}

.facebook-icon:hover {
    color: #fff;
    background-color: #4c69ba;
}

.instagram-icon:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial;
}

.tiktok-icon:hover {
    background: #fff
}

.trip-advisor-icon:hover {
    background: #39cd63
}