.float-container {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.social-media-icons-container{
    display: flex;
    width: fit-content;
    gap: 25px;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: var(--light-shadow);
    z-index: 3;
}

.column {
    flex-direction: column;
    padding: 10px 5px;
}

.icon {
    padding: 4px;
    border-radius: 50%;
    
}

.facebook-icon:hover {
    color: #fff;
    background-color: #4c69ba;
}

/* .instagram-icon {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
} */

.instagram-icon:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial;
}

.youtube-icon:hover {
    color: #fff;
    background-color: #E60023
}