.tips-container {

    @media (max-width: 480px) {
        width: 100%;
    }

    .tip-accordion {
        margin-top: 1rem;
    }
}

.tip-ul {
    margin-bottom: 1rem;
    padding-left: 1rem;

    .tip-title {

        // display: flex;
        .title {
            font-weight: 400;
        }
    }
}