.cookies-notice {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    max-width: 600px;
    width: 100%;

    background-color: #333;
    color: #fff;
    padding: 1rem;
    z-index: 4000;

    a {
        color: rgb(188, 141, 74);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    button {
        background-color: rgb(188, 141, 74);
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            background-color: rgb(205, 153, 80);
        }
    }
}