@import '../../../assets/scss/theme';

.column-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    &:hover {
        transition: all 0.3s;
        color: $primary-color
    }


    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.arrow-icon {
    margin: 0 10px;
    font-size: 15px;
    display: none
}

.transformed {
    transform: rotate(-180deg);
    transition: all 0.3s
}

.expand {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: hidden;
    transition: all 0.5s
}

.column-links {
    display: flex;
    flex-direction: column;

    a {
        font-size: 13px;
        margin: 10px;

        &:hover {
            text-decoration: underline;
            color: $primary-color;
            transition: all 0.3s
        }
    }
}


@media (max-width: 900px) {
    .expand {
        max-height: 0;
        padding-left: 15px
    }

    .expanded {
        max-height: 500px
    }

    .arrow-icon {
        display: block
    }
}