.footer-container {
    width: 100%;
    padding: 20px 15%;
    background-position: center;
    background-size: cover;
    background-color: #c8c8c8;
    margin-top: 3rem;
    padding-bottom: 4rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.rights-reserved {
    margin-top: 1.5rem;

    a {
        font-size: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
}


@media (max-width: 900px) {
    .footer-grid {
        display: flex;
        flex-direction: column;
        padding: 0 5%
    }
}