.review {
    height: 420px;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
}

.img-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.quote-icon {
    position: absolute;
    top: -15px;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: hsl(205, 78%, 60%);
    color: white;
}

.img-container::before {
    content: '';
    width: 100%;
    height: 100%;
    background: hsl(205, 78%, 60%);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}

.author {
    margin-bottom: 0.25rem;
}

.info {
    margin-bottom: 0.75rem;
}