.review {
    height: 420px;
    background: white;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .avatar-container {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: hsl(205, 78%, 60%);
            position: absolute;
            top: -0.25rem;
            right: -0.5rem;
            border-radius: 50%;
        }

        .avatar-img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            position: relative;
        }

        .quote-icon {
            position: absolute;
            top: -15px;
            left: 0;
            width: 2.5rem;
            height: 2.5rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            transform: translateY(25%);
            background: hsl(205, 78%, 60%);
            color: white;
        }
    }

    .author {
        margin-bottom: 0.25rem;
    }

    .text {
        margin-bottom: 0.75rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
    }
}