.trip-advisor-reviews-swiper {
    width: 100%;
    max-width: 1100px;
    padding: 40px 10px;

    --swiper-pagination-color: rgb(188, 141, 74);

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 450px;
    }

    .swiper-pagination-bullet-active {
        width: 15px;
        border-radius: 10px;
        transition: width 0.3s ease;
    }
}

@media (max-width: 490px) {
    .trip-advisor-reviews-swiper {
        max-width: 380px !important;
    }
}

.button-next,
.button-prev {
    position: absolute;
    top: 50%;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(188, 141, 74);
    color: #fff;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

:is(.button-next, .button-prev):hover {
    background-color: rgba(188, 141, 74, 0.9);
}

.button-next {
    right: 5px;
}

.button-prev {
    left: 5px;
}