.page {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;

    .title {
        width: 100%;
        position: relative;

        .title-img {
            object-fit: cover;
            width: 100%;
            height: 500px;
        }

        .title-text {
            position: absolute;
            background-color: rgb(188, 141, 74);
            padding: 1rem;
            top: 50%;
            left: 50%;
            color: white;
            transform: translate(-50%, -50%);
            font-family: Verdana, sans-serif;
            font-style: italic;
            font-weight: bolder;
            font-size: 1.5rem;

            @media (max-width: 480px) {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}