.services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);

        .service-card-img {
            filter: brightness(65%);
        }
    }

    .service-card-img {
        object-fit: 'cover';
        border-radius: '5px';
        filter: brightness(50%);
    }

    .service-card-information {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: .5rem 1.6rem;
        min-height: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        h2 {
            color: white;
            text-transform: uppercase;
            margin-bottom: 0px;
        }

        p {
            color: white;
            line-height: 1.1;
            text-align: justify;
        }

        a {
            margin-top: 10px;
            background-color: rgb(188, 141, 74);
            color: #fff;
            padding: 4px;
            font-family: 'Chalkduster';
        }
    }
}