.excursion-detail {
    .title-group {
        width: 100% !important;
        justify-content: center;
        text-align: center;
    }

    /* List */

    ul {
        li {
            display: flex;
            align-items: center;
            padding: 6px 0;
            box-sizing: border-box;
            gap: 0.3rem;
        }
    }

    ul:not(.no-bullets) {
        counter-reset: index;
        padding: 0;

        /* List element */
        li {
            counter-increment: index;
        }

        /* Element counter */
        li::before {
            content: '*';
            font-size: 1.5rem;
            text-align: right;
            font-weight: bold;
            // min-width: 50px;
            padding-right: 6px;
            font-variant-numeric: tabular-nums;
            // align-self: flex-start;
            background-image: linear-gradient(to bottom, rgb(188, 141, 74), rgb(188, 141, 74));
            background-attachment: fixed;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        /* Element separation */
        li+li {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

.setcion-title {
    margin: 1rem 0.5rem !important;
    font-weight: bold !important;
}

.left-title {
    width: 100%;
    text-align: left;
}

.visual-pane {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        min-width: 300px;
    }

    .excursion-swiper {
        width: 500px;
        height: 550px;

        @media (max-width: 480px) {
            width: 350px;
            height: 400px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: rgb(0, 0, 0);
            background-color: rgb(188, 141, 74);

            &:hover {
                background-color: rgb(177, 132, 70);
            }

            &::after {
                font-size: 20px;
            }
        }

        .swiper-pagination-fraction {
            width: 80px;
            background-color: rgb(188, 141, 74, 0.8);
            font-size: 14px;
            border-radius: 15px;
            font-weight: 500;
            left: calc(50% - 40px);
            padding: 5px 10px;
        }
    }

    &.map {
        width: 100%;
        min-height: 500px;

        iframe {
            width: 100%;
            min-width: 350px;
        }
    }
}

.content-pane {
    display: flex;
    min-width: 300px;
    justify-content: left;
    text-align: justify;
    text-justify: inter-word;
}

.excursion-detail-item {
    svg {
        width: 33px;
        height: 33px;
    }

    &.padded {
        padding: 12px 0;
    }
}

.li-summary {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.pricing-container {
    padding: 0 1rem;
}