.excursions-page-container {
    width: 70%;
}

@media (max-width: 490px) {
    .excursions-page-container {
        width: 90%;
        text-align: justify;
    }
}

.excursions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}


.excursion-summary {
    max-height: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Number of lines to display before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.excursion-summary-card-container {
    max-width: 345px;
    cursor: pointer;
}