.excursion-detail {
    .title-group {
        width: 100% !important;
        justify-content: center;
        text-align: center;
    }

    /* List */

    ul {
        li {
            display: flex;
            align-items: center;
            padding: 6px 0;
            box-sizing: border-box;
            gap: 1rem;
        }
    }

    ul:not(.no-bullets) {
        counter-reset: index;
        padding: 0;

        /* List element */
        li {
            counter-increment: index;
        }

        /* Element counter */
        li::before {
            content: '*';
            font-size: 1.5rem;
            text-align: right;
            font-weight: bold;
            min-width: 50px;
            padding-right: 12px;
            font-variant-numeric: tabular-nums;
            align-self: flex-start;
            background-image: linear-gradient(to bottom, rgb(232, 176, 221), orangered);
            background-attachment: fixed;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        /* Element separation */
        li+li {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

.setcion-title {
    margin: 1rem 0.5rem;
    font-weight: bold;
}

.left-title {
    width: 100%;
    text-align: left;
}

.visual-pane {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        min-width: 300px;
    }

    &.map {
        width: 100%;
        min-height: 500px;

        iframe {
            width: 100%;
            min-width: 350px;
        }
    }
}

.content-pane {
    display: flex;
    min-width: 300px;
    justify-content: left;
    text-align: justify;
    text-justify: inter-word;
}

.excursion-detail-item {
    svg {
        width: 33px;
        height: 33px;
    }

    &.padded {
        padding: 12px 0;

    }
}

.pricing-container {
    padding: 0 1rem;
}