@import '../../assets/scss/theme';

.excursions-page-container {
    width: 80%;
    text-align: justify;
}

@media (max-width: 490px) {
    .excursions-page-container {
        width: 90%;
        text-align: justify;
    }
}

.excursions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}


.excursion-summary {
    max-height: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Number of lines to display before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.excursion-summary-card-container {
    max-width: 350px;
    cursor: pointer;

    span {
        text-align: left;
        font-size: 15px;
        font-weight: bold;
    }
}

.email-link {
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
        color: $primary-color;
        transition: all 0.3s
    }
}