.excursion-detail {
    .title-group {
        width: 100% !important;
        justify-content: center;
        text-align: center;
    }
}

.setcion-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.left-title {
    width: 100%;
    text-align: left;
}

.visual-pane {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        min-width: 300px;
    }
}

.content-pane {
    min-width: 300px;
}
