.faqs-container {
    width: 60%;

    li::marker,
    span {
        font-weight: 900;
        line-height: 3;
    }

    ol {
        padding-left: 10px;
    }

    li {
        margin: 2rem 0;
    }
}





@media (max-width: 490px) {

    .faqs-container {
        width: 90%;
    }

}