.img-slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

    .img-slider-item {
        width: 100%;
        height: 100%;
        display: block;
        flex-shrink: 0;
        flex-grow: 0;

        .img-slider-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .img-slider-content {
            position: absolute;
            top: 40%;
            left: 30%;
            transform: translate(-40%, -30%);
            background-color: rgba(0, 0, 0, 0.1);
            color: #fff;
            padding: 10px;
            border-radius: 10px;
            max-width: 600px;


            h2 {
                display: block;
                font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
                font-size: clamp(26px, 3.3vw, 36px);
                font-weight: 600;
                letter-spacing: -0.4px;
            }

            a {
                display: inline-block;
                margin-top: 15px;
                background-color: #B14C59;
                border-radius: 5px;
                font-family: 'Chalkduster';
                font-size: clamp(22px, 1.3vw, 30px);
                line-height: 1.2;
                letter-spacing: 0.2px;
                color: #fff;
                padding: 4px 12px;
            }
        }
    }
}

.img-slider-btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;

    &:is(:hover, :focus-visible) {
        background-color: rgb(0, 0, 0, 0.2);

    }


    // All children elements
    &>* {
        stroke: white;
        fill: black;
    }
}

.img-slider-dot-btn-container {
    position: absolute;
    bottom: .25rem;
    left: 50%;
    display: flex;
    gap: .25rem;
    translate: -50%;
}

.img-slider-dot-btn {
    all: unset;
    display: block;
    cursor: pointer;
    transition: scale 100ms ease-in-out;

    &:is(:hover, :focus-visible) {
        scale: 1.2;
    }

    &>* {
        stroke: white;
        fill: black;
    }
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
    outline: auto;
}

@keyframes squish {
    50% {
        scale: 1.4 0.6;
    }
}

@media not (prefers-reduced-motion) {
    .img-slider-img {
        transition: translate 300ms ease-in-out;
    }

    .img-slider-btn:hover>*,
    .img-slider-btn:focus-visible>* {
        animation: squish 200ms ease-in-out;
    }
}

@media (max-width: 480px) {
    .img-slider-container {
        .img-slider-item {
            .img-slider-content {
                position: absolute;
                top: 40%;
                left: 35%;
                transform: translate(-40%, -35%);

                h2 {
                    font-size: 20px;
                }

                a {
                    font-size: 16px;
                }
            }
        }
    }
}